/* customTabs.css */
.react-tabs__tab {
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid transparent;
    border-bottom: none;
    transition: background-color 0.3s, color 0.3s;
    display: inline;
    margin-left: 30px;
  }
  
  .react-tabs__tab--selected {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    border-color: #007bff;
    border-radius: 10px;
  }
  
  .react-tabs__tab--disabled {
    color: #ccc;
    cursor: not-allowed;
  }
  
  .react-tabs__tab:hover {
    background-color: #f0f0f0;
  }
  
  .react-tabs__tab-panel {
    padding: 20px;
    border: 1px solid #ccc;
    display: none; /* Hide all tab panels by default */
  }
  
  .react-tabs__tab-panel--selected {
    display: block; /* Show only the selected tab panel */
  }